* {
    background-color: #e3e2e2;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
.table {
    border: 2px #747373 solid;
    height: 40px;
    font-size: 18px;
}

.button {
    width: 22px;
    height: 23px;
    font-size: 12px;
    margin-left: 5px;
}

.buttonsDiv {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.deleteWindow {
    position: absolute;
    z-index: 10;
    width: 250px;
    height: 150px;
    border: black 2px solid;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: -480px;
    margin-left: 200px;
}

.deleteWindow p {
    margin-top: 30px;
}

.deleteWindow div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.row {
    border: #919090 1px solid;
}